/*.modal-dialog*/

.got-style.modal .modal-dialog {
  width: 493px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal .modal-dialog.modal-lg {
  min-width: 962px;
  .table-lg {
    float: left;
    width: 431px;
  }
  .table-lg.snd {
    margin-left: 24px;
  }
}

.modal .modal-dialog.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - (50px * 2));
}

.modal .modal-dialog.modal-alert {
  width: 496px;
}

.modal .modal-dialog.modal-setting {
  width: 388px;
}

/*modal-header*/

.modal-header,
.modal-footer {
  border: 0 none;
}

.modal-header {
  padding: 24px 24px 0;
  .modal-title {
    float: left;
    color: #333;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -3px;
  }
  .icon-bx-flat.btn-close.close {
    padding: 0;
    font-size: 38px;
  }
}

/*modal-body*/

.modal-body {
  padding: 24px;
  &:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
}

.modal-body .info {
  color: #333;
  font-size: 16px;
  strong,
  span {
    display: block;
  }
  strong.time {
    display: block;
    font-size: 48px;
  }
  span#device_name {
    display: inline-block;
  }
}

.modal-body table {
  margin-top: 24px;
  tr th {
    padding: 15px;
    color: #333;
    font-size: 12px;
  }
  tr td {
    padding: 10px;
    color: #666;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    .profile-img {
      display: block;
      overflow: hidden;
      width: 35px;
      height: 35px;
      border: 1px solid #999;
      border-radius: 100%;
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
  tr:last-child {
    border-bottom: 1px solid #e7eaec;
  }
}

/*modal-footer*/

.modal-footer {
  padding: 0 24px 24px;
  .btn-gray {
    background: #696969;
    color: #fff;
  }
}

.float-e-margins .btn {
  margin-bottom: 0px;
}

/*popup - 도움말*/

.pop-helper {
  .modal-content {
    min-width: 379px;
    .modal-body {
      padding: 0 24px 24px;
      table {
        margin: 0;
        border: 0;
        thead {
          tr th {
            padding: 35px 0 8px;
          }
        }
        tr {
          th,
          td {
            padding: 15px 0 0 0;
            border: 0;
            font-size: 16px;
            text-align: left;
          }
          th {
            width: 150px;
          }
          &:last-child {
            border: 0;
          }
        }
      }
      .btn-area {
        margin-top: 41px;
        .btn-link {
          margin-top: 10px;
          a {
            display: inline-block;
            padding-bottom: 6px;
            border-bottom: 2px solid #29b6f6;
            color: #29b6f6;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/*popup - 출석현황(선생님)*/

.pop-attend {
  table {
    span.name {
      display: block;
      overflow: hidden;
      width: 150px;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
  }
}

/*popup - 출석(학생)*/

.pop-attend-student {
  .review-balloon {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 0;
    width: 238px;
    height: 222px;
    background: url('../images/alert-review-cheer.png') no-repeat 0 0;
    text-indent: -200%;
    overflow: hidden;
  }
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 38px;
  }
  .modal-body {
    overflow-y: auto;
    .area-inline {
      float: left;
      width: 370px;
      .title {
        color: #333;
        font-size: 24px;
        font-weight: bold;
      }
      .stamp {
        //common
        .circle {
          padding-top: 19px;
          background: #c2c2c2;
          color: #fff;
          font-size: 14px;
          text-align: center;
          border-radius: 100%;
          span {
            display: block;
          }
          span.star {
            display: block;
            text-align: center;
            &:before {
              content: '수업 전';
            }
          }
        }
        &.absent {
          .circle {
            background: #333;
            color: #999;
            span.star {
              &:before {
                content: '결석';
              }
            }
          }
        }
        &.tardy {
          .circle {
            background: #f8ac59;
            span.star {
              &:before {
                content: '지각';
              }
            }
          }
        }
        &.rank {
          .circle {
            padding-top: 30px;
            background: #d44242;
            span.star {
              height: 0;
              font-size: 35px;
              line-height: 0;
              &:before {
                content: '';
              }
            }
          }
        }
        &.rank1 {
          .circle {
            padding-top: 35px;
            span.star {
              &:before {
                content: '***';
              }
            }
          }
        }
        &.rank2 {
          .circle {
            padding-top: 35px;
            span.star {
              &:before {
                content: '**';
              }
            }
          }
        }
        &.rank3 {
          .circle {
            padding-top: 35px;
            span.star {
              &:before {
                content: '*';
              }
            }
          }
        }
      }
      &.attend {
        //attend
        border-right: 1px solid #999;
        .timecheck {
          margin-top: 10px;
          color: #d44242;
          font-size: 18px;
          font-weight: bold;
          &.rank1 {
            &:after {
              content: '1등!';
            }
          }
        }
        .stamp {
          width: 200px;
          height: 200px;
          margin: 80px auto;
          border: 2px solid #d44242;
          border-radius: 100%;
          .circle {
            width: 170px;
            height: 170px;
            margin: 13px;
            padding-top: 65px;
            border-radius: 100%;
            box-sizing: border-box;
            background: #d44242;
            font-size: 16px;
            letter-spacing: 1px;
            .turn {
              display: block;
              font-size: 24px;
            }
          }
        }
      }
      &.history {
        //history
        padding-left: 30px;
        ul.mark-list {
          overflow-y: auto;
          height: 400px;
          padding-top: 40px;
          li {
            float: left;
            width: 100px;
            margin: 10px 0 0 10px;
            .stamp {
              .circle {
                width: 100px;
                height: 100px;
              }
            }
            &:nth-child(3n + 1) {
              margin-left: 0;
            }
          }
          &:after {
            content: '';
            display: block;
            overflow: hidden;
            clear: both;
          }
        }
      }
    }
  }
}

/*popup - 이미지캡쳐 공유*/

.pop-share {
  .modal-content {
    border: 0 none;
    box-shadow: none;
    background: transparent;
    .modal-body {
      .area-share-img {
        max-width: 540px;
        max-height: 404px;
        overflow: hidden;
        text-align: center;
        > img {
          max-width: 100%;
        }
      }
      .area-cmd {
        p {
          margin: 15px 0;
          color: #fff;
          font-size: 20px;
        }
        .btn-apply {
          width: 90px;
          font-weight: bold;
        }
      }
    }
  }
}

/*popup - 업로드 진행중*/

.pop-upload {
  .modal-content {
    .modal-header {
      .modal-title {
        float: none;
        text-align: center;
        font-size: 20px;
        letter-spacing: 0;
      }
    }
    .modal-body {
      .area-file-img {
        float: left;
        width: 180px;
        height: 115px;
        margin-right: 24px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .area-file-info {
        float: left;
        .file-name {
          font-size: 16px;
        }
        .progress {
          width: 381px;
          height: 35px;
          margin: 20px 0;
          border: 1px solid #999;
          background: #fff;
          .progress-bar {
            background-color: #999;
          }
        }
        .file-page {
          font-size: 12px;
        }
      }
      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }
  }
}

/*popup - 발표자 선정*/

.pop-presenter {
  .modal-dialog.modal-lg {
    min-width: 746px;
    ul.presenter-list {
      .area-profile {
        position: relative;
        overflow: hidden;
        float: left;
        width: 168px;
        height: 94px;
        margin: 9px 0 0 8px;
        > img {
          width: 100%;
          height: 100%;
        }
        > strong.name {
          position: absolute;
          left: 9px;
          bottom: 12px;
          overflow: hidden;
          width: 155px;
          color: #fff;
          text-shadow: 1px 1px #888;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &:nth-child(4n + 1) {
          margin-left: 0;
        }
        &.active {
          border: 6px solid #222;
          > strong.name {
            bottom: 8px;
          }
        }
      }
      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }
    p.area-cmd {
      margin-top: 28px;
      font-size: 16px;
      color: #999;
    }
  }
}

/*popup - 수업시작, 수업종료 공통*/

.pop-end-class,
.pop-mode-class {
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 0;
  }
  .modal-header {
    display: block;
    position: absolute;
    top: -165px;
    width: 100%;
    .modal-title {
      width: 100%;
      margin-bottom: 48px;
      color: #fff;
      font-size: 48px;
      line-height: 48px;
      text-align: center;
    }
    .area-img {
      display: inline-block;
      width: 100%;
      text-align: center;
      .teacher-img {
        width: 122px;
        height: 122px;
        margin: 0 auto;
        border: 2px solid #000;
        border-radius: 100%;
        i.profile-img {
          display: block;
          overflow: hidden;
          width: 119px;
          height: 119px;
          border: 3px solid #fff;
          border-radius: 100%;
          img {
            width: 119px;
            height: 119px;
          }
        }
      }
    }
  }
  .modal-body {
    padding: 83px 0 11px;
    .class-title {
      color: #333;
      text-align: center;
      strong {
        display: block;
        font-size: 24px;
      }
      span {
        font-size: 16px;
      }
    }
    table {
      margin: 24px 0 0;
      tr {
        th {
          width: 204px;
          padding: 24px;
          color: #000;
          font-size: 20px;
          font-weight: normal;
        }
        td {
          padding: 24px 24px 24px 0;
          color: #666;
          font-size: 16px;
          text-align: left;
          ol {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            li {
              position: relative;
              float: left;
              span.rank {
                display: block;
                position: absolute;
                top: 0;
                left: -17px;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                color: #fff;
                text-align: center;
                line-height: 32px;
                font-style: normal;
              }
              span.rank.fst {
                background-color: #cc9933;
              }
              span.rank.snd {
                background-color: #b0babe;
              }
              span.rank.thd {
                background-color: #843925;
              }
              .bx {
                padding-top: 4px;
                text-align: center;
                i.profile-img {
                  display: block;
                  overflow: hidden;
                  width: 63px;
                  height: 63px;
                  margin: 0 auto;
                  border: 1px solid #9d9d9d;
                  border-radius: 100%;
                  img {
                    width: 62px;
                    height: 62px;
                  }
                }
                span.name {
                  font-size: 16px;
                  color: #666;
                }
              }
            }
          }
        }
        &:last-child {
          border: 0 none;
        }
      }
    }
  }
  .modal-footer {
    padding: 0 15px 15px;
    text-align: center;
    a.btn-mode-select {
      display: inline-block;
      width: 45%;
      margin: 0 5px;
      background: #333;
      color: #fff;
    }
  }
  .popup-toast {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 45px 0 0 -53px;
    background: rgba(153, 153, 153, 0.8);
  }
}

/*popup - 수업후기(학생)*/

.pop-review {
  .modal-content {
    min-width: 600px;
    .modal-body {
      .area-title {
        text-align: center;
        .title {
          font-size: 24px;
        }
        .question {
          padding: 30px 0;
          font-size: 16px;
        }
        .review-balloon {
          position: absolute;
          top: 25px;
          left: 50%;
          margin-left: 190px;
          width: 342px;
          height: 151px;
          background: url('../images/alert-review-balloon.png') no-repeat 0 0;
          text-indent: -200%;
          overflow: hidden;
        }
      }
      .table-review {
        margin: 0;
        tr {
          th {
            width: 40px;
            padding: 15px 0;
            font-size: 16px;
          }
          td {
            text-align: left;
            &.group-star {
              a {
                color: #c1c1c1;
                font-size: 30px;
                line-height: 27px;
                &.o,
                &.half {
                  color: #25b371;
                }
              }
            }
            textarea {
              width: 100%;
              height: 250px;
              padding: 15px;
              border-radius: 3px;
              color: #666;
              resize: none;
            }
            p.notice {
              margin-top: 10px;
              color: #999;
              font-size: 12px;
            }
          }
        }
        > thead > tr > th,
        > tbody > tr > th,
        > tfoot > tr > th,
        > thead > tr > td,
        > tbody > tr > td,
        > tfoot > tr > td,
        tr:last-child {
          border: 0 none;
        }
      }
    }
    .modal-footer {
      color: #666;
      font-size: 18px;
    }
  }
}
// 대상자 선정 팝업
.pop-user-pick {
  .modal-content {
    min-width: 700px;
    .modal-body {
      .sub-title {
        display: block;
        color: #999;
        font-size: 16px;
        text-align: center;
      }
      .user-list {
        display: grid;
        grid-gap: 10px;
        margin: 40px 0;
        li {
          grid-row: 1;
          a {
            .profile-img {
              overflow: hidden;
              display: block;
              width: 60px;
              height: 60px;
              margin: 10px auto;
              border: 2px solid #a0a0a0;
              border-radius: 50%;
              img {
                width: 60px;
                height: 60px;
              }
            }
            .name {
              display: block;
              text-align: center;
              color: #333;
              font-weight: bold;
            }
          }
          a:hover,
          &.active {
            .profile-img {
              border: 2px solid #29b6f6;
            }
            .name {
              color: #29b6f6;
            }
          }
        }
      }
      .check-point {
        text-align: center;
      }
    }
  }
}

.modal-content .modal-body{
  .toast-notice{
    padding:10px;
    background: rgba(212, 66, 66, 0.7);
    border-radius: 5px;
    color:#fff;
    font-size: 14px;
    text-align: left;
  }
}
@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}
