/*.setting*/

.hidden-txt {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -9999em;
}

body>.btn-kakao-help {
  position: fixed;
  top: 40px;
  right: 40px;
  color: #fff;
  background: #999;

  &:focus {
    color: #fff;
  }
}

.section-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // padding: 14.7% 0 16.7%;
  background: #f2f2f2;

  .logo-tutor {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 10;
    width: 198px;
    height: 36px;
    font-size: 36px;
    color: #29b6f6;
  }

  .inner {
    width: 876px;
    margin: 0 auto;
  }

  .setting-header {
    position: relative;
    width: 443px;
    margin: 0 auto 13.5%;

    .area-step {
      .progress {
        width: 300px;
        height: 5px;
        margin: 0 auto;
        background: #fff;

        .progress-bar {
          width: 0%;
          background: #000;
        }
      }

      ol.step {
        position: absolute;
        top: -15px;
        left: 0; // width: 480px;
        width: 507px;
        padding: 0;
        z-index: 1;

        li {
          float: left;
          margin: 0 40px;
          color: #666;
          font-size: 12px;
          font-weight: bold;

          span {
            display: block;
            width: 35px;
            height: 35px;
            margin: 0 auto 10px;
            border-radius: 100%;
            background: #fff;
            color: #666;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            line-height: 35px;
          }
        }

        &:after {
          content: '';
          display: block;
          overflow: hidden;
          clear: both;
        }
      }
    }

    &.check {
      width: auto;
      text-align: center;
      margin-bottom: 64px;

      .mark {
        display: inline-block;
        width: 26px;
        height: 100px;
        margin-bottom: 31px;
        background-color: transparent;
        background-image: url('../images/setting_check.png');
        background-position: 0 0;
        background-repeat: no-repeat;
      }

      .title {
        color: #29b6f6;
        font-size: 36px;
        line-height: 50px;
      }
    }
  }

  .setting-body {
    display: none;
    position: relative;
    text-align: center;

    h4 {
      margin-bottom: 4.3%;
      color: #333;
      font-size: 36px;
    }

    .area-select {
      >strong {
        padding-right: 23px;
      }

      +.btn {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.5px;
        background: transparent;
      }
    }

    .area-test {
      position: relative;
      margin: 4.8% 0;

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }

      li {
        float: left;
        margin: 0 32.5px;

        label {
          display: block;
          width: 205px;
          height: 205px;
          margin-bottom: 27px;
          background-image: url('../images/setting_spk.png');
          background-position: 0 0;
          background-repeat: no-repeat;
        }

        label.label-chicken {
          background-position: 0 -205px;
        }

        label.label-cat {
          background-position: 0 -410px;
        }
      }
    }

    .area-btn {
      .btn.btn-basic {
        display: block;
        margin: 0 auto 3%;
      }

      .btn-none {
        padding-bottom: 6px;
        border-bottom: 1px solid #666;
        color: #666;
        font-size: 12px;

        span.icon-check {
          font-size: 25px;
          vertical-align: middle;
        }
      }

      .btn-solution {
        display: block;
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 10;
        padding: 22px 30px 14px;
        border-radius: 2px;
        background: #29b6f6;
        color: #fff;
        font-size: 18px;

        strong {
          display: inline-block;
          padding-bottom: 5px;
          border-bottom: 1px solid #fff;
        }
      }
    }

    .popup-toast {
      position: absolute;
      top: 95%;
      left: 50%;
      margin-left: -300px;
    }

    &.check {
      text-align: left;

      ul.check-list {
        li {
          margin-bottom: 26px;
          letter-spacing: -3px;
          .img-bx {
            display: inline-block;
            width: 145px;
            height: 75px;
            margin-right: 36px;
            background-image: url('../images/setting_check.png');
            background-position: 0 -105px;
            background-repeat: no-repeat;
            vertical-align: middle;
          }

          p {
            display: inline-block;
            font-size: 26px;
            line-height: 42px;
            vertical-align: middle;
          }

          &:nth-child(2) {
            .img-bx {
              height: 97px;
              background-position: 0 -181px;
            }
          }

          &:nth-child(3) {
            .img-bx {
              height: 61px;
              background-position: 0 -287px;
            }
          }
        }
      }

      .area-btn {
        .btn.btn-basic {
          width: 124px;
          margin-top: 96px;

          &.btn-lg {
            width: 224px;
          }
        }
      }
    }
  }

  .setting-body.active {
    display: block;
  }

  .setting-body.speaker {
    .area-test {
      display: flex;
      justify-content: center;
    }
  }

  .setting-body.mic {
    .area-test {
      margin: 13.6% auto 14.5%;

      .progress {
        height: 48px;
        border-radius: 24px;
        background-color: #fff;

        .progress-bar {
          background-color: #333;
        }
      }

      .line {

        // position: absolute;
        // top: -100%;
        // left: 50%;
        // padding: 126px 0 0 12px;
        // border-left: 1px dashed #999;
        span {
          color: #666;
          font-size: 12px;
          font-weight: bold;
          vertical-align: sub;
        }
      }
    }
  }

  .setting-body.camera {
    .area-test {
      padding: 0px;

      .view {
        overflow: hidden;
        width: 541px;
        height: 307px;
        margin: 0 auto;
        background: #666;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 307px;
      }

      video {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
}

.section-setting.step00 {

  .setting-header,
  .setting-body {
    display: none;
  }

  .setting-header.check,
  .setting-body.check {
    display: block;
  }
}

.section-setting.step01 {

  .setting-header.check,
  .setting-body.check {
    display: none;
  }

  .setting-header .area-step {
    li:nth-child(1) {
      color: #222;

      span {
        background: #000;
        color: #fff;
      }
    }

    .progress-bar {
      width: 0%;
    }
  }

  .setting-body.speaker {
    display: block;
  }
}

.section-setting.step02 {

  .setting-header.check,
  .setting-body.check {
    display: none;
  }

  .setting-header .area-step {

    li:nth-child(1),
    li:nth-child(2) {
      color: #222;

      span {
        background: #000;
        color: #fff;
      }
    }

    .progress-bar {
      width: 50%;
    }
  }

  .setting-body.mic {
    display: block;
  }
}

.section-setting.step03 {

  .setting-header.check,
  .setting-body.check {
    display: none;
  }

  .setting-header .area-step {

    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3) {
      color: #222;

      span {
        background: #000;
        color: #fff;
      }
    }

    .progress-bar {
      width: 100%;
    }
  }

  .setting-body.camera {
    display: block;
  }
}

/*popup - setting*/

.pop-basic-setting {
  .modal-header {
    button.close {
      padding: 15px 0 0;
    }
  }

  .modal-body {
    .area-test {
      .view {
        overflow: hidden;
        width: 240px;
        height: 136px;
        margin: 0 auto;
        background: #666;
        color: #000;
        font-size: 30px;
        text-align: center;
        line-height: 136px;
      }

      video {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }

      p {
        margin: 10px 0;
        color: #999;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
      }
    }

    .area-select {
      margin-top: 24px;

      strong {
        display: block;
        float: left;
        font-size: 14px;
        line-height: 37px;
      }

      .btn-group {
        float: right;
      }

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }
  }
}

/*popup - reject-mic */

.pop-reject-mic,
.pop-reject-cam {
  &.modal {
    .modal-dialog {
      &.modal-setting {
        .modal-body {
          &:after {
            display: block;
            clear: both;
            content: "";
          }

          .guide-txt {
            float: left;
            width: 400px;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: -0.5px;
            counter-reset: my-counter;

            >li {
              position: relative;
              padding-left: 20px;
              word-break: keep-all;

              &:before {
                position: absolute;
                top: 0;
                left: 0;
                counter-increment: my-counter;
                content: counter(my-counter);
              }

              .reject-equipment {
                display: inline-block;
                padding-left: 20px;
                background: url("../images/icon-no-equipment.jpg") left center no-repeat;
              }
            }
          }

          .capture {
            float: right;
            margin: -60px 0 0 20px;
          }
        }

        .modal-footer {
          .btn.cancel {
            min-width: 90px;
            color: #fff;
            background: #29b6f6;
          }
        }
      }
    }
  }
}

.pop-reject-mic {
  &.modal {
    .modal-dialog {
      &.modal-setting {
        width: 770px;

        .capture {
          width: 300px;
          height: 320px;
          background: url("../images/guide-mic-reject.png") 0 0 no-repeat;
        }
      }
    }
  }
}

.pop-reject-cam {
  &.modal {
    .modal-dialog {
      &.modal-setting {
        width: 810px;

        .capture {
          width: 340px;
          height: 360px;
          background: url("../images/guide-cam-reject.png") 0 0 no-repeat;
        }
      }
    }
  }
}

.pop-kakao-help {
  .modal-header {
    text-align: center;

    .modal-title {
      float: none;

      &:before {
        display: block;
        width: 50px;
        padding: 0 5px;
        margin: 0 auto 5px;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0;
        border-radius: 3px;
        background: #ff4046;
        content: "SOS";
      }
    }

    p {
      margin-top: 5px;
      font-size: 16px;
      color: #999;
    }

    .icon-bx-flat {
      &.btn-close.close {
        position: absolute;
        top: 0;
        right: 0;
        color: #000;
      }
    }
  }

  .modal-body {
    .info {
      h6 {
        margin-top: 35px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;

        &:first-child {
          margin-top: 0;
        }
      }

      table {
        margin: 0;
        width: 100%;

        tr {
          &:last-child {
            border-bottom: 0;
          }

          th {
            padding: 5px;
            font-weight: 700;
            font-size: 16px;
            line-height: 2;
            color: #000;
            vertical-align: top;
          }

          td {
            padding: 5px;
            text-align: left;

            .txt-color-red {
              display: inline-block;
              font-weight: 700;
              color: #ff4046;
            }
          }
        }
      }
    }
  }

  .modal-footer {
    .btn-kakao-help {
      display: block;
      width: 380px;
      height: 64px;
      background-image: url('../images/btn-kakao-help.jpg');
    }
  }
}

/*.intro*/

.section-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  .area-wise-saying {
    li {
      display: none;
      font-size: 25px;

      &.active {
        display: block;
      }
    }
  }

  .loading-count {
    font-size: 72px;
    font-weight: bold;
    color: #282828;
  }

  &.theme01 {
    background-image: url('../images/intro/bg-intro-01.jpg');
  }

  &.theme02 {
    background-image: url('../images/intro/bg-intro-02.jpg');
  }

  &.theme03 {
    background-image: url('../images/intro/bg-intro-03.jpg');
  }

  &.theme04 {
    background-image: url('../images/intro/bg-intro-04.jpg');
  }

  &.theme05 {
    background-image: url('../images/intro/bg-intro-05.jpg');
  }

  &.theme06 {
    background-image: url('../images/intro/bg-intro-06.jpg');
  }

  &.theme07 {
    background-image: url('../images/intro/bg-intro-07.jpg');
  }

  &.theme08 {
    background-image: url('../images/intro/bg-intro-08.jpg');
  }

  &.theme09 {
    background-image: url('../images/intro/bg-intro-09.jpg');
  }

  &.theme10 {
    background-image: url('../images/intro/bg-intro-10.jpg');
  }

  &.theme11 {
    background-image: url('../images/intro/bg-intro-11.jpg');
  }

  &.theme12 {
    background-image: url('../images/intro/bg-intro-12.jpg');
  }

  &.theme13 {
    background-image: url('../images/intro/bg-intro-13.jpg');
  }

  &.theme14 {
    background-image: url('../images/intro/bg-intro-14.jpg');
  }

  &.theme15 {
    background-image: url('../images/intro/bg-intro-15.jpg');
  }

  &.theme16 {
    background-image: url('../images/intro/bg-intro-16.jpg');
  }

  &.theme17 {
    background-image: url('../images/intro/bg-intro-17.jpg');
  }

  &.theme18 {
    background-image: url('../images/intro/bg-intro-18.jpg');
  }

  &.theme19 {
    background-image: url('../images/intro/bg-intro-19.jpg');
  }

  &.theme20 {
    background-image: url('../images/intro/bg-intro-20.jpg');
  }

  &.theme21 {
    background-image: url('../images/intro/bg-intro-21.jpg');
  }

  &.theme22 {
    background-image: url('../images/intro/bg-intro-22.jpg');
  }
}

/*접속제한페이지*/

.section-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-access.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .area-warning {
    text-align: center;

    .icon-notice {
      color: #fff;
      font-size: 100px;
    }

    p {
      margin-top: 45px;
      color: #fff;

      &.text-warning {
        font-size: 36px;

        em {
          color: #d44242;
          font-style: normal;
        }
      }

      &.text-advice {
        font-size: 20px;
      }
    }

    .btn-download {
      display: inline-block;
      width: 157px;
      height: 36px;
      margin-top: 60px;
      border-radius: 3px;
      background: #999;
      color: #fff;
      font-size: 18px;
      line-height: 36px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}