$color_1: #999;
$color_2: #000;
$color_3: #333;
$color_4: #666;
$color_5: #fff;
$color_6: #b8b8b8;
$color_7: #c1c1c1;
$color_8: #6f6f6f;
@font-face {
  font-family: 'got-icon';
  src: url('../fonts/got-icon.eot?x51nqh');
  src: url('../fonts/got-icon.eot?x51nqh#iefix') format('embedded-opentype'),
    url('../fonts/got-icon.ttf?x51nqh') format('truetype'),
    url('../fonts/got-icon.woff?x51nqh') format('woff'),
    url('../fonts/got-icon.svg?x51nqh#got-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: bold;
  font-weight: 700;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
table,
select,
textarea {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', '돋움', Dotum,
    Helvetica, 'Apple SD Gothic Neo', Sans-serif;
  letter-spacing: -0.1em;
  word-spacing: normal;
}

caption,
hr,
legend {
  display: none;
}

li {
  list-style: none;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 9;
}

.got-style {
  color: #333;
  [class^='icon-'],
  [class*=' icon-'],
  .btn-close,
  .label-timer:before,
  .video-area:before {
    font-family: 'got-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-bi_h:before {
    content: '\e961';
  }
  .icon-bi_v:before {
    content: '\e962';
  }
  .icon-call:before {
    //사이즈가 기존 아이콘들보다 커서 사용시에 정렬확인 해줘야함.
    content: '\e967';
    font-size: 30px;
    line-height: 36px;
  }
  .icon-call.off:before {
    //사이즈가 기존 아이콘들보다 커서 사용시에 정렬확인 해줘야함.
    content: '\e968';
    font-size: 30px;
  }
  .icon-tutor:before {
    content: '\e945';
  }
  .icon-download:before {
    content: '\e900';
  }
  .icon-font:before {
    content: '\e901';
  }
  .icon-pointer:before {
    content: '\e902';
  }
  .icon-screen.ext:before {
    content: '\e903';
  }
  .icon-screen.half:before {
    content: '\e904';
  }
  .icon-screen.plus:before {
    content: '\e905';
  }
  .icon-share.off:before {
    content: '\e906';
  }
  .icon-share:before {
    content: '\e907';
  }
  .icon-reflect.off:before {
    content: '\e95a';
  }
  .icon-reflect:before {
    content: '\e95b';
  }
  .icon-reverse.off:before {
    //사이즈가 기존 아이콘들보다 커서 사용시에 정렬확인 해줘야함.
    content: '\e955';
    font-size: 24px;
  }
  .icon-reverse:before {
    content: '\e95f';
    display: inline-block;
    padding-bottom: 12px;
    font-size: 24px;
  }
  .icon-star.half:before {
    content: '\e908';
  }
  .icon-star:before {
    content: '\e909';
  }
  .icon-alarm:before {
    content: '\e90a';
  }
  .icon-memo:before {
    content: '\e90b';
  }
  .icon-notice:before {
    content: '\e90c';
  }
  .icon-question:before {
    content: '\e95e';
  }
  .icon-people:before {
    content: '\e90d';
  }
  .icon-people.off:before {
    content: '\e959';
  }
  .icon-check-teacher:before {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 22px;
    content: '\e966';
  }
  .icon-check-everyone:before {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    content: '\e965';
  }
  .icon-search:before {
    content: '\e90e';
  }
  .icon-star.o:before {
    content: '\e90f';
  }
  .icon-chat.off:before {
    content: '\e910';
  }
  .icon-heart:before {
    content: '\e911';
  }
  .icon-list:before {
    content: '\e912';
  }
  .icon-board-list:before {
    content: '\e958';
  }
  .icon-praise:before {
    content: '\e913';
  }
  .icon-menu:before {
    content: '\e914';
  }
  .active .icon-menu:before,
  .btn-close:before,
  .icon-no:before {
    content: '\e915';
  }
  .icon-yes:before {
    content: '\e916';
  }
  .icon-cancle:before {
    content: '\e917';
  }
  .icon-up:before {
    content: '\e918';
  }
  .icon-down:before {
    content: '\e919';
  }
  .icon-drop-down:before {
    content: '\e91a';
  }
  .icon-drop-up:before {
    content: '\e91b';
  }
  .icon-zoom-in:before {
    content: '\e91c';
  }
  .icon-zoom-out:before {
    content: '\e91d';
  }
  .icon-emoticon:before {
    content: '\e91e';
  }
  .label-timer:before,
  .icon-timer:before {
    content: '\e91f';
  }
  .icon-stopwatch:before {
    content: '\e95d';
  }
  .icon-wifi:before {
    content: '\e920';
  }
  .icon-setting:before {
    content: '\e921';
  }
  .icon-cam:before {
    content: '\e922';
  }
  .icon-cam.off:before {
    content: '\e923';
  }
  .icon-mic:before {
    content: '\e924';
  }
  .icon-mic.off:before {
    content: '\e925';
  }
  .icon-screen:before {
    content: '\e926';
  }
  .icon-screen.off:before {
    content: '\e927';
  }
  .icon-pen:before {
    content: '\e928';
  }
  .icon-pen.off:before {
    content: '\e929';
  }
  .icon-check:before {
    content: '\e92a';
  }
  .icon-chat:before {
    content: '\e92b';
  }
  .icon-send:before {
    content: '\e92c';
  }
  .icon-thumbs:before {
    content: '\e92d';
  }
  .icon-homework:before {
    content: '\e963';
  }
  .icon-no-homework:before {
    content: '\e964';
  }
  .icon-out:before {
    content: '\e92e';
  }
  .icon-plus:before {
    content: '\e92f';
  }
  .icon-eye:before {
    content: '\e930';
  }
  .icon-eye.off:before {
    content: '\e931';
  }
  .icon-role:before {
    content: '\e932';
  }
  .icon-role.off:before {
    content: '\e960';
  }
  .icon-team:before {
    content: '\e933';
  }
  .icon-team.off:before {
    content: '\e934';
  }
  .icon-mode:before {
    content: '\e935';
  }
  .icon-quiz:before {
    content: '\e936';
  }
  .icon-reflect:before {
    content: '\e95b';
  }
  .icon-tool-mouse:before {
    content: '\e937';
  }
  .icon-tool-eraser:before {
    content: '\e938';
  }
  .icon-tool-eraser-part:before {
    content: '\e95c';
  }
  .icon-tool-text:before {
    content: '\e939';
  }
  .icon-tool-note:before {
    content: '\e93a';
  }
  .icon-tool-shot:before {
    content: '\e93b';
  }
  .icon-tool-undo:before {
    content: '\e93c';
  }
  .icon-tool-redo:before {
    content: '\e93d';
  }
  .icon-tool-upload:before {
    content: '\e93e';
  }
  .icon-rank-star:before {
    content: '\e93f';
  }
  .icon-coin:before {
    content: '\e940';
  }
  .icon-point:before {
    content: '\e941';
  }
  .icon-tool-hand:before {
    content: '\e942';
  }
  .icon-tool-pencil:before {
    content: '\e943';
  }
  .icon-tool-square:before {
    content: '\e944';
  }
  .icon-tool-polygon:before {
    content: '\e99c';
  }
  .icon-tool-triangle:before {
    content: '\e946';
  }
  .icon-tool-line:before {
    content: '\e947';
  }
  .icon-tool-arrow:before {
    content: '\e948';
  }
  .icon-tool-color .path1:before {
    content: '\e949';
    color: rgb(51, 51, 51);
  }
  .icon-tool-color .path2:before {
    content: '\e94a';
    margin-left: -1em;
    color: rgb(255, 96, 43);
  }
  .icon-tool-color .path3:before {
    content: '\e94b';
    margin-left: -1em;
    color: rgb(255, 209, 29);
  }
  .icon-tool-color .path4:before {
    content: '\e94c';
    margin-left: -1em;
    color: rgb(51, 51, 51);
  }
  .icon-tool-color .path5:before {
    content: '\e94d';
    margin-left: -1em;
    color: rgb(255, 64, 71);
  }
  .icon-tool-color .path6:before {
    content: '\e94e';
    margin-left: -1em;
    color: rgb(0, 184, 105);
  }
  .icon-tool-color .path7:before {
    content: '\e94f';
    margin-left: -1em;
    color: rgb(51, 51, 51);
  }
  .icon-tool-color .path8:before {
    content: '\e950';
    margin-left: -1em;
    color: rgb(140, 53, 251);
  }
  .icon-tool-color .path9:before {
    content: '\e951';
    margin-left: -1em;
    color: rgb(59, 71, 253);
  }
  .icon-tool-color .path10:before {
    content: '\e952';
    margin-left: -1em;
    color: rgb(49, 162, 253);
  }
  .icon-tool-marker .path1:before {
    content: '\e953';
    color: rgb(51, 51, 51);
  }
  .icon-tool-marker {
    &.active,
    &:hover {
      .path2:before {
        color: $color_3;
      }
    }
    .path2:before {
      content: '\e954';
      margin-left: -1em;
      color: $color_5;
    }
  }
  .icon-tool-marker.on .path2:before {
    content: '\e954';
    margin-left: -1em;
    color: rgb(204, 255, 104);
  }
  .icon-tool-pick .path1:before {
    content: '\e956';
    color: rgb(51, 51, 51);
  }
  .icon-tool-pick .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(255, 64, 71);
  }
  .icon-tool-pick.black .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tool-pick.red .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(255, 64, 70);
  }
  .icon-tool-pick.orange .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(255, 102, 42);
  }
  .icon-tool-pick.yellow .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(255, 209, 29);
  }
  .icon-tool-pick.green .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(0, 184, 105);
  }
  .icon-tool-pick.skyblue .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(48, 161, 252);
  }
  .icon-tool-pick.blue .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(58, 70, 252);
  }
  .icon-tool-pick.purple .path2:before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(134, 54, 250);
  }
  input[type='checkbox'] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    padding: 0;
    background: url('../images/sp_form.png') no-repeat 0px 0px;
    &:checked {
      background-position: 0px -40px;
    }
  }
  input[type='radio'] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    padding: 0;
    background: url('../images/sp_form.png') no-repeat 0px 0px;
    &:checked {
      background-position: 0px -20px;
    }
  }
  .btn-group {
    .dropdown-toggle {
      min-width: 270px;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #666;
      border-radius: 0;
      font-size: 12px;
      text-align: left;
      .caret {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -2px;
      }
      &:after {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -2px;
      }
      li a {
        font-size: 12px;
      }
    }
  }
  .open {
    .dropdown-toggle {
      background: #fff;
      border: 0;
      border-bottom: 1px solid #666;
    }
  }
  .dropdown-menu {
    min-width: 270px;
    border-radius: 0;
    box-shadow: 1px 3px 3px rgba(86, 96, 117, 0.3);
    color: $color_1;
    > .active {
      > a {
        color: $color_2;
        &:focus {
          color: $color_2;
        }
        &:hover {
          color: $color_2;
        }
      }
    }
  }
  .sheet {
    .dropdown-toggle {
      min-width: 160px;
      height: 34px;
      background: #fff;
      border: 1px solid #999;
      font-size: 12px;
    }
    .dropdown-menu {
      // top: 28px;
      min-width: 160px;
      background: #fff;
      border: 1px solid #999;
      a {
        line-height: 34px;
      }
    }
  }
  .btn.submit {
    box-sizing: border-box;
    height: 36px;
    padding: 8px;
    background: transparent;
    color: $color_3;
    font-weight: bold;
  }
  .btn.cancel {
    box-sizing: border-box;
    height: 36px;
    padding: 8px;
    background: transparent;
    color: $color_4;
    font-weight: bold;
  }
  .btn.btn-basic {
    box-sizing: border-box;
    width: 90px;
    height: 40px;
    background: #999;
    color: $color_5;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      background: #333;
    }
  }
  .btn.btn-basic.btn-md {
    width: 121px;
  }
  .btn.btn-basic.btn-lg {
    width: 224px;
    height: 70px;
    font-size: 24px;
    font-weight: normal;
  }
  .btn.btn-basic.active {
    background: #333;
  }
  .btn-tool {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #fff;
    border: none;
    color: $color_3;
    font-size: 22px;
    span {
      position: absolute;
      top: 0;
      left: -1000em;
      font-size: 0;
      line-height: 0;
      text-indent: -1000em;
    }
  }
  .btn-close {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #b2b2b2;
    border: none;
    color: $color_3;
    font-size: 22px;
    background: transparent;
    box-shadow: none;
    color: $color_6;
    span {
      position: absolute;
      top: 0;
      left: -1000em;
      font-size: 0;
      line-height: 0;
      text-indent: -1000em;
    }
    &:hover {
      color: $color_3;
    }
  }
  .controller-tutor {
    button {
      position: relative;
      display: inline-block;
      width: 48px;
      height: 48px;
      background: #fff;
      border: none;
      color: $color_3;
      font-size: 22px;
      display: block;
      position: static;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 1px 3px 3px rgba(86, 96, 117, 0.3);
      font-size: 40px;
      color: $color_3;
      span {
        display: none;
        position: absolute;
        top: 14px;
        right: 0px;
        width: max-content;
        height: 36px;
        margin-right: 70px;
        padding: 0 10px;
        background: #333;
        border-radius: 25px;
        color: $color_5;
        font-size: 16px;
        line-height: 34px;
      }
      &:hover {
        background: #333;
        color: $color_5;
      }
    }
    overflow: hidden;
    height: 70px;
    li {
      position: relative;
      top: 0;
      left: 0;
      width: 60px;
      margin-bottom: 10px;
    }
  }
  .controller-user {
    button {
      position: relative;
      display: inline-block;
      width: 48px;
      height: 48px;
      background: #fff;
      border: none;
      color: $color_3;
      font-size: 22px;
      border-radius: 3px;
      color: $color_7;
      font-size: 35px;
      box-shadow: 1px 3px 3px rgba(86, 96, 117, 0.3);
      span {
        position: absolute;
        top: 0;
        left: -1000em;
        font-size: 0;
        line-height: 0;
        text-indent: -1000em;
      }
      &:hover {
        color: $color_3;
      }
      &:hover.active {
        color: $color_3;
      }
    }
  }
  .btn-close.active {
    color: $color_3;
  }
  .controller-tutor.active {
    overflow: visible;
    height: auto;
    li {
      &:hover {
        span {
          display: block;
        }
      }
    }
  }
  .controller-user.dark {
    button {
      background: #303030;
      color: $color_8;
      &:hover {
        color: $color_5;
      }
      &:hover.active {
        color: $color_5;
      }
    }
  }
  .btn-tool.active {
    background: #333;
    color: $color_5;
  }
  .chat-input {
    input {
      width: 100%;
      padding: 6px 0;
      border: 0 none;
      border-bottom: 1px solid $color_5;
      background: transparent;
      color: $color_5;
      font-size: 16px;
    }
  }
  .popup-toast {
    position: absolute;
    bottom: 10rem;
    left: 50%;
    box-sizing: border-box;
    z-index: 100;
    width: 600px;
    height: 60px;
    margin-left: -300px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
  }
  .popup-toast.primary {
    background: rgba(38, 179, 114, 0.7);
  }
  .popup-toast.care {
    background: rgba(212, 66, 66, 0.7);
  }
  .popup-toast.complete {
    width: auto;
    height: auto;
    padding: 0;
    margin-left: -80px;
    background: transparent;
    &:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
    p {
      padding: 30px 35px;
      background: #fff;
      color: #29b6f6;
      font-size: 24px;
      border-radius: 2px;
    }
  }
} //guide style
.guide {
  li {
    list-style: none;
  }
  .ibox-content {
    background: #f2f2f2;
  }
  .controller-user {
    clear: both;
    height: 50px;
  }
  .controller-user li {
    float: left;
    margin: 5px;
  }
  .popup-toast {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 0 10px 0;
  }
  .ibox-content.left-menu {
    height: 200px;
    .area-chat-bubble {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}
